<div class="card order-card mb-3">
  <div class="card-header">
    <h4 class="mb-0 mt-3"><%= "Order ##{order.id}" %></h4>
    <p class="order-info">Name: <%= order.user.first_name%> <%= order.user.last_name %></p>
    <p class="order-info">Contact: <%= order.user.phone_number %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% order.cart_items.each do |item| %>
    <li class="list-group-item d-flex justify-content-between">
      <span><%= item.dish.name %></span>
      <span><%= item.dish.pricetag %></span>
    </li>
    <% end %>
    <li class="list-group-item d-flex justify-content-between"><strong><i class="fas fa-cash-register mr-2"></i>Total:</strong><span><%= order.total %></span></li>
    <% if order.request_type == 0 %>
      <% if order.pending? %>
      <li class="list-group-item">
        <%= simple_form_for order, remote: true do |f| %>
        <%= f.input :pickup_time, as: :string, input_html: { id: "pickup-time" }, required: true %>
        <%= f.submit "Accept Order", class: "btn btn-primary mt-0" %>
        <% end %>
      </li>
      <% elsif order.accepted? %>
        <li class="list-group-item d-flex justify-content-between">
          <span><i class="fas fa-clock mr-2"></i>Pickup Time:</span>
          <span><%= order.pickup_time.strftime('%H:%M') %></span>
        </li>
        <li class="list-group-item d-flex justify-content-center">
          <%= link_to "Mark as picked up", cart_path(order, status: 3), method: :patch, remote: true, class: "btn btn-primary mt-0" %>
        </li>
      <% end %>
    <% else %>
      <% if order.pending? %>
        <li class="list-group-item d-flex justify-content-center">
          <%= link_to "Accept Delivery", cart_path(order, status: 2), method: :patch, remote: true, class: "btn btn-primary mt-0" %>
        </li>
      <% elsif order.accepted? %>
          <%= link_to "Track Delivery", order.delivery_url, class: "btn btn-primary mt-0" %>
      <% end %>
    <% end %>
  </ul>
</div>
