<% restaurants.each do |restaurant| %>
<h2><%= restaurant.name %></h2>
<div class="row mb-5">
  <div class="col-12" >
    <h3>Past orders</h3>


     <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Pickup Date</th>
          <th scope="col">Items ordered</th>
          <th scope="col">Order total</th>
        </tr>
      </thead>
      <tbody>
        <% restaurant.carts.where(confirmed: 3).order(:pickup_time).each do |order| %>
          <tr>
            <td><%= order.user.full_name %></td>
            <td><%= order.pickup_time %> </td>
            <td><%= order.total_items %> </td>
            <td><%= order.total %> </td>
          </tr>
        <% end %>


      </tbody>

     </table>
  </div>
</div>
<% end %>
