  <div class="d-flex justify-content-between align-items-center">
<div class="col-12 col-md-6">
  <% @restaurants.each do |restaurant| %>
    <div class="card">
      <div class="card-body mb-3">
        <h2><%= restaurant.name %></h2>
        <p> Cuisine: <%= restaurant.cuisine %></p>
        <%= link_to 'check', restaurants_path, class: "rest-btn btn btn-primary"%>
        <%= link_to 'menu',  restaurant_menu_path, class: "rest-btn btn btn-primary"%>
        <%= link_to 'add menu', restaurant_menus_path, class: "rest-btn btn btn-primary" %>
      </div>
    </div>
     <% end %>
     </div>
    </div>


