<div class="mb-3 d-flex restaurant-card">


  <div class="card-body">

    <h2 class="d-flex justify-content-between"><%= restaurant.name %><span class="badge badge-pill badge-<%= restaurant.open ? 'success' : 'danger'%>"> <%= restaurant.status %> </span></h2>

    <div><%= link_to 'View restaurant', restaurant_path(restaurant), class: "btn btn-primary"%></div>
    <div><%= link_to 'Edit restaurant', "#", class: "btn btn-primary"  %></div>
    <div><%= link_to 'Edit Menu',  '#', class: "btn btn-primary"%></div>

  </div>
   <%= cl_image_tag restaurant.photo.key, class: 'restaurant-card-img' %>

</div>

