  <div class="d-flex justify-content-between align-items-center">
<div class="col-12 col-md-6">
  <div class="card border-dark mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <ul>
        <% @restaurants.each do |restaurant| %>
        <li><%= restaurant.name %></li>
        <li><%= restaurant.cuisine %></li>
        <li><%= link_to 'check', restaurants_path %></li>
        <li><%= link_to 'menu', restaurants_path %></li>
        <li><%= link_to 'add menu', restaurants_path %></li>
      <% end %>
      </ul>

    </div>
     </div>
    </div>
  </div>



