<div class="mb-3 d-flex restaurant-card">


  <div class="card-body">
    <h2><%= restaurant.name %></h2>

    <div><%= link_to 'View restaurant', restaurant_path(restaurant), class: "btn btn-primary"%></div>
    <div><%= link_to 'Edit restaurant', "#", class: "btn btn-primary"  %></div>
    <div><%= link_to 'Edit Menu',  restaurant_menu_path(restaurant, restaurant.menus.first), class: "btn btn-primary"%></div>

  </div>
   <%= cl_image_tag restaurant.photo.key, class: 'restaurant-card-img' %>

</div>

