</div>
<div class="banner ">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class='carousel-img-overlay'></div>
        <%= image_tag'pizza.jpg', crop: :fill, height: 380, class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <div class='carousel-img-overlay'></div>
        <%= image_tag'sandwich.jpg', crop: :fill, height: 380, class: 'd-block w-100' %>
      </div>
      <div class="carousel-item">
        <div class='carousel-img-overlay'></div>
        <%= image_tag'steak.jpg', crop: :fill, height: 380, class: 'd-block w-100' %>
      </div>
       </div>
       <div class="main-text hidden-xs">
          <div class="col-md-12 text-center align-center">
            <div class="banner-position">
      <h1>Welcome to Snapcarte</h1>
      <h3>Find your restaurant</h3>
    </div>
      </div>

  </div>
 </div>
    <div class="row mt-5 ml-4 mb-4">
      <div class="col">
        <h1>Restaurants</h1>
      </div>
    </div>

    <div class="row">
      <% @restaurants.each do |restaurant| %>
      <div class="d-flex justify-content-between col-10 col-md-6 col-sm-3 mb-3 p-5">
        <div class="card restaurant-card <%= "opacity-75" unless restaurant.open %>">
          <%= cl_image_tag restaurant.photo.key, class: "card-img-top", height: '250', crop: :fill %>
          <span class="restaurant-card-status badge badge-pill badge<%= restaurant.open ? "-success" : "-secondary" %>"><%= restaurant.status %></span>
          <div class="card-body w-100 pb-0">
            <div class="card-title">
              <h2 class="mb-0"><%= restaurant.name %></h2>
            </div>
          </div>
          <ul class="list-group list-group-flush w-100 restaurant-info">
            <li class="list-group-item"><i class="fas fa-utensils mr-3"></i> <%= restaurant.cuisine %></li>
          </ul>
          <%= link_to "", restaurant_path(restaurant) %>
        </div>
      </div>
      <% end %>
      </div>



