  <div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 mt-5">
      <h2>Restaurant info</h2>
      <% unless params[:scraping]%>
        <%= simple_form_for :scraping, url: new_restaurant_path, method: :get do |f| %>
          <%= f.input :url, :as => :url, label: ('<i class="fab fa-tripadvisor"></i> Paste your Trip Advisor page link').html_safe %>
          <div class="mb-3 instruction">Your link will autocomplete restaurant info.</div>
          <%= f.button :submit, 'Autofill', class:"btn btn-primary mt-0 mb-4", data: {disable_with: "Autofilling..."} %>
        <% end %>
      <% end -%>
      <h3 class="mb-3">Or, fill the form manually</h3>
      <%= simple_form_for @restaurant, remote: true do |f| %>
      <%= f.input :name, label: ('<i class="fas fa-file-signature"></i> Restaurant name').html_safe%>
      <%= f.input :address, label: ('<i class="fas fa-map-pin"></i> Address').html_safe %>
      <%= f.input :phone_number, label: ('<i class="fas fa-phone"></i> Phone_number').html_safe %>
      <%= f.input :cuisine, label: ('<i class="fas fa-utensils"></i> Cuisine').html_safe %>
      <%= f.input :description, label: ('<i class="fas fa-pen"></i></i> Description').html_safe %>
      <div class="mb-3 instruction">Write a short description of your restaurant and let customers know your general hours for accepting orders.</div>
      <%= f.input :photo, as: :file, label: ('Upload restaurant photo').html_safe %>
      <div class="mb-3 instruction">Upload a photo of your restaurant storefront or interior.</div>
      <h2>Menu</h2>
        <div>
        <%= image_tag "", class:"hidden", id:"photo-preview" %>
        </div>
        <%= f.input :menu_photo, as: :file, input_html: { id: 'photo-input' }, label: ('Upload menu').html_safe %>
        <%= f.input :coords, as: :hidden, input_html: { id: 'croppings'} %>
        <div class="mb-3 instruction">Upload a photo of your menu and Snapcarte will digitize it. You can confirm your dish names and prices on the next page. You can crop sections of the menu by drawing boxes around menu sections.</div>
      <div class="mt-4 mb-5">
        <%= f.button :button, 'Add restaurant', class:"btn btn-primary", data: {disable_with: "<div><i class='fa fa-spinner fa-spin'></i> Please wait a moment.</div><div>Scanning menu for dishes.</div>"} %>
      </div>
    <% end %>
    </div>
  </div>
</div>

