<div class="">
  <h1> <%= @restaurant.name %></h1>
  <p>Restaurant address: <%= @restaurant.address %></p>
  <p>Phone number: <%= @restaurant.phone_number %>
  <p>Cuisine:<%= @restaurant.cuisine %></p>
  <h2>Your menus</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= link_to 'form', restaurant_menu_path(@restaurant) %></td>
      <td><%= link_to 'restaurant description', restaurant_path(:id) %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= link_to 'form', restaurant_menu_path(@restaurant) %></td>
      <td><%= link_to 'restaurant description', restaurant_path(:id) %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= link_to 'go back', restaurants_path %>
