  <% if policy(@restaurant).edit? %>
    <div class="row mt-3">
      <div class="top-notice text-center">
        <% if !@restaurant.open %>
          <p>Ready to open and start accepting orders?</p>
          <%= render 'open_close_button', restaurant: @restaurant %>
        <% else %>
          <p>Your restaurant is open!</p>
          <p>Check out your dashboard to see your order information.</p>

        <% end %>
        <%= link_to "Check out dashboard", dashboard_index_path, class: "btn btn-primary"  %>
      </div>
    </div>
  <% end %>

  <div class="row restaurant-show-information mt-5 pt-3">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <h1><%= @restaurant.name %></h1>
      <span class="restaurant-status badge badge-<%= @restaurant.open ? "success" : "warning" %>">
      <%= @restaurant.status %>
      </span>
    </div>

    <div class="col-12 col-md-6 d-flex align-items-center">
      <ul class="list-group w-100 restaurant-info">
        <li class="list-group-item"><span class="icon"><i class="fas fa-map-pin mr-3"></i></span> <%= @restaurant.address %></li>
        <li class="list-group-item"><i class="fas fa-utensils mr-3"></i> <%= @restaurant.cuisine %></li>
        <li class="list-group-item"><i class="fas fa-phone mr-3"></i> <%= @restaurant.phone_number %></li>
        <% pattern = /(?<day>(Sun|Mon|Tue|Wed|Thu|Fri|Sat))(?<hours>.{19})/ %>
        <li class="list-group-item"><i class="fas fa-phone mr-3"></i> <%= @restaurant.time.match(pattern) %></li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <%= cl_image_tag @restaurant.photo.key, alt: "alttext", crop: :fill, class: "restaurant-img" %>
    </div>

    <div class="col-12 col-md-6 mt-3">
      <p><%= @restaurant.description %></p>
    </div>

    <div class="col-12 col-md-7">
        <% @restaurant.menus.each do |menu| %>
        <h2><%= menu.name %></h2>
        <ul class="list-group w-100 restaurant-menu mb-4">
          <% menu.dishes.order(:created_at).each do |dish| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><%= dish.name %></span>
              <div class="dish-price-buttons">
              <span>$<%= dish.price %></span>
              <%= link_to "<i class='fas fa-plus-circle'></i>".html_safe, add_to_restaurant_cart_path(@restaurant, @cart, dish_id: dish.id), data: { 'turbolinks-scroll': false }, remote: true, method: :patch %>
              </div>
            </li>
          <% end %>
      </ul>
      <% end %>
    </div>

    <div class="col-12 col-md-5">
      <h3><i class="fas fa-shopping-cart"></i> Your cart</h3>
      <div class="cart">
        <% if current_user == @restaurant.user %>
          <div>You cannot request an order for your own restaurant.</div>
        <% elsif !@cart.not_sent?  %>
          <div>Your order has been requested. Please wait for confirmation.</div>
        <% elsif @cart.empty? %>
          <div>There are no items in your cart.</div>
        <% else %>
          <div class='container'>
          <ul class="list-group">
          <% @cart.cart_items.each do |item| %>
            <li class="d-flex justify-content-between list-group-item">
              <div class="w-100 d-flex justify-content-between">
              <span><%= item.dish.name %></span>
              <span>$<%=item.dish.price %></span>
              </div>
              <%= link_to "<i class='fas fa-minus-circle'></i>".html_safe, cart_item_path(item), class: "ml-1", data: { 'turbolinks-scroll': false }, remote: true, method: :delete %>
            </li>
          <% end %>
          <li class="d-flex justify-content-between list-group-item">
            <span>Total</span>
            <span><%= @cart.total %></span>
          </li>
          </ul>
          <%= link_to "Request Pickup", cart_path(@cart, status: 1), method: :patch, class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>


    <div id="map" class="mt-4" style="height: 200px; width: 100%;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>


</div><!-- close container -->










