<div class="container">
  <h1 class='mt-5'> <%= @restaurant.name %></h1>
  <div class="info-restaurant">
    <div class="list-group col-12 col-md-8 mt-5 mb-4 ">
      <li class="list-group-item active">Restaurant address: <%= @restaurant.address %></li>
      <li class="list-group-item">Phone number: <%= @restaurant.phone_number %></li>
      <li class="list-group-item">Cuisine:<%= @restaurant.cuisine %></li>
    </div>
  </div>
<h2>Your menus</h2>


<div class="info-restaurant">
<table class="table table-bordered table-secondary mt-3 col-12 col-md-8 mt-5 mb-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= link_to 'form', restaurant_menu_path(@restaurant) %></td>
      <td><%= link_to 'restaurant description', restaurant_path(:id) %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= link_to 'form', restaurant_menu_path(@restaurant) %></td>
      <td><%= link_to 'restaurant description', restaurant_path(:id) %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="table">
  <div class="btn btn-warning text-decoration-none">
  <%= link_to 'go back', restaurants_path %>
</div>
</div>
</div>

