</div><!-- close container -->

<div class="jumbotron space-show-header" style="background-image: linear-gradient(to top, rgba(0,0,0,.2) 0%,rgba(0,0,0,.2) 100%), url(<%= cl_image_path @restaurant.photo.key, crop: :fill %>)">
  <div class="container header">
    <h1 class="display-4"><%= @restaurant.name %></h1>
    <h3 class="address"><i class="fas fa-map-pin"></i> <%= @restaurant.address %></h3>
  </div>
</div>

<div class="container">

<div class="row restaurant-show-information">
  <div class="col-12 col-md-8 col-lg-8 mb-5">
    <div class="container pt-4">
          <h2>Description</h2>
    <p><%= @restaurant.description %></p>
    <p><%= @restaurant.phone_number %></p>
    <h2 class="mt-5">Menu</h2>
    <%= cl_image_tag @restaurant.photo.key, alt: @restaurant.name, crop: :fill, class: "restaurant-show-img" %>
    </div>

  </div>

  <div class="col-12 col-md-4 col-lg-4 restaurant-show-right-column">
    <div class="container pt-4">
      <div class="restaurant-show-pricing"></div>
      <h2>Order</h2>
    </div>

  </div>

</div>



