<!DOCTYPE html>
<html>
  <head>
    <title>Snapcarte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
    <script src="https://unpkg.com/jcrop"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="d-flex flex-column" data-user-id="<%= current_user.id if user_signed_in? %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="notifications">

    </div>
    <div class="container">
    <%= yield %>
    </div>
    <footer class="d-flex justify-content-center align-items-center mt-auto py-3">
      <p class="px-3">©2020 Snapcarte</p>
      <p class="px-3"><i class="fab fa-facebook-f"></i></p>
      <p class="px-3"><i class="fab fa-instagram"></i></p>
      <p class="px-3"><i class="fab fa-twitter"></i></p>
    </footer>
  </body>
</html>
